.backdrop{
  position: fixed;
  z-index: 104;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation);
  overflow-y: scroll;

&.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

& .modal{
  transform: translate(-50%, -50%) scale(0.9);
}
}
}

.modal{
  position: absolute;
  display: flex;
  max-width: 450px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--light-text-color);
  transition: transform var(--animation);

  @media screen and (min-width: 480px) {
  min-width: 450px;
}

@media screen and (min-width: 1200px) {
  min-width: 528px;
}
}

.modal__button--close{
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--light-text-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(0,0,0);
  transition: color var(--animation);
  padding: 0px;

&:hover .modal__icon,
&:focus .modal__icon {
  fill: var(--accent-color);
}
}



.modal__icon--close{
  display: block;
  width: 11px;
  height: 11px;
}