html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: solid red; */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

&.modal-open{
  overflow: hidden;
}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  /*max-width: 100%;*/
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
text-decoration: none;
color: inherit;
}

.list {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
list-style: none;
}