:root {
  --main-text-color: #757575;
  --accent-color: #2196F3;
  --text-color:  #212121;
  --light-text-color: #ffffff;
  --dark-bg-color: #2F303A;
  --light-bg-color: #ECECEC;
  --filter-button-color:#F5F4FA;
  --logo-font: "Raleway", sans-serif;
  --logo-font-weight: 700;
  --grid__item: 1;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}