.nav {
display: inline-flex;
align-items: center;
margin-right: auto;
color: var(--text-color);
}

.nav__list{
display: flex;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;

@media screen and (max-width: 767.98px){
  display: none;
}
}

.nav__list--column{
  @media screen and (min-width: 768px) and (max-width: 1199.98px){
  flex-direction: column;
  justify-content: start;
  margin-right: 0;
}
}

@media screen and (min-width: 768px) {
 .nav__item:not(:last-child) {
  margin-right: 50px;
}
 }

 @media screen and (min-width: 1200px) {
 .nav__item--column:not(:last-child) {
  margin-right: 50px;
}
 }

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation);

  &:focus,
&:hover{
color: var(--accent-color);
}
}

.nav__link--column{
  display: inline-flex;
  @media screen and (min-width: 768px) and (max-width: 1199.98px){
  justify-content: flex-start;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 500;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--main-text-color);
  }}

.nav__item--column+.nav__item--column{
  @media screen and (min-width: 768px) and (max-width: 1199.98px){
  margin-top: 10px;
}
}

.nav__link--dark{
color: var(--text-color);
}

.nav__link--current {
color: var(--accent-color); 
}

.nav__link--current{
  position: relative;

  @media screen and (min-width: 768px) {
    &::after{
  position: absolute;
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--accent-color);
}
  }
}

.nav__icon--mail{
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.nav__icon--phone{
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.nav__item--column{
  @media screen and (min-width: 768px) and (max-width: 1199.98px){
  margin-right: 0;
}
}

.nav__item{
  @media screen and (min-width: 768px) and (max-width: 1199.98px){
    display: flex;
  justify-content: space-between;
}
}